*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body {
  background: lightslategrey;
  height: 100vh;
  width: 100vw;
}
.container {
  background-color: rgb(58, 137, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.chatscreen {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  flex-basis: 70%;
  height: 750px;
  width: 600px;
  border: 8px double #1c6ea4;
  border-color: rgb(151, 149, 149);
}
.row {
  background: rgb(230, 240, 243);
  flex-direction: column;
  flex-basis: 20%;
  height: 800px;
  width: 600px;
}
input {
  height: 50px;
  width: 530px;
  padding: 20px;
  font-style: initial;
  font-size: initial;
}
.user {
  background: lightyellow;
  height: 800px;
  width: 200px;

  border-color: rgb(245, 232, 184);
  padding: 20px;
  text-decoration-line: underline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
button {
  padding: 15px;
  background: transparent;
  border: none;
  width: 15px;

}
