/* .card-bordered {
  border: 1px solid #ebebeb;
} */

.card {
  border: 0;
}

.padding {
  padding: 3rem !important;
}

body {
  background-color: #4e8a9f;
}

.card-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.card-header .card-title {
  padding: 0;
  border: none;
}

h4.card-title {
  font-size: 17px;
}

.card-header > * {
  margin-left: 8px;
  margin-right: 8px;
}

.card-title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  height: 400px !important;
  overflow: scroll !important;
  -ms-overflow-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.text-info {
  color: #48b0f7 !important;
}

.users{
  justify-content: center;

}
